<div class="container-fluid">
        <div id="home" class="row align-items-center hero">
            <div class="col-lg-3 offset-lg-2 scroll_section">
                <p>Espacio de Arte y Terapias Holísticas</p>
                <h1>Quinti Yaku</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dignissimos eveniet in, est dolorum
                    eius dolore quod tenetur blanditiis veniam ratione. Dolorum ab exercitationem sit quia nobis, nihil
                    illum cumque.</p>
            </div>
        </div>
    </div>
