<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="css/quintiyaku.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <img src="img/quintiyaku.png" alt="Quinti Yaku" width="100" height="100">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ramiro">Nosotros</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="YogaIntegral" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Talleres
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="YogaIntegral">Yoga Integral</a></li>
              <li><a class="dropdown-item" href="#YogaTerapia">Yoga Terapia</a></li>
              <li><a class="dropdown-item" href="#Acroyoga">Acroyoga y Tela</a></li>
              <li><a class="dropdown-item" href="#Teatro">Teatro</a></li>
              <li><a class="dropdown-item" href="#Psicodrama">Psicodrama</a></li>
              <li><a class="dropdown-item" href="#Aquelarre">Aquelarre Círculo M</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#cronograma">Cronograma semanal</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="Psicologica" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Terapias
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#Psicologica">Psicológica</a></li>
              <li><a class="dropdown-item" href="#Biodescodificacion">Biodescodificación</a></li>
              <li><a class="dropdown-item" href="#Floral">Floral Bach</a></li>
              <li><a class="dropdown-item" href="#Registros">Registros Akáshicos</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#Abiertos" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Eventos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#Abiertos">Abiertos</a></li>
              <li><a class="dropdown-item" href="#Arancelados">Arancelados</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {{{body}}}
</body>

</html>