<div class="container-fluid scroll_section" id="Psicologica">
        <h1>Terapias</h1>
        <p class="textright nombre">Psicológica</p>
        <p class="textright">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident quam, excepturi in accusamus numquam,
            molestias, ratione architecto dolore nesciunt nostrum praesentium enim error esse aperiam ad optio possimus
            obcaecati! Laborum.
        </p>
    </div>

    <div class="container-fluid scroll_section" id="Biodescodificacion">
        <p class="textleft nombre">Biodescodificación</p>
        <p class="textleft">Es el arte de acompañar a la persona a encontrar la emoción oculta asociada al síntoma para
            descodificarla y así favorecer la curación, mediante la liberación de la emoción que hay en el inconsciente
            y trascender dicha emoción transformándola. Propone las vías para la toma de consciencia y el cambio de la
            manera de vivir las emociones, mediante el cambio de percepción del individuo, contribuyendo así a la
            disminución o remisión del desajuste que se presenta.</p>
    </div>

    <div class="container-fluid scroll_section" id="Floral">
        <p class="textright nombre">Floral Bach</p>
        <p class="textright">Las esencias florales actúan sobre la estructura energética del sujeto, a través de las
            emociones, lo psíquico y
            lo físico a nivel profundo y arquetípico. Trabajan en el presente, apuntando al autoconocimiento permanente
            de la persona. Actúan mediante la toma de conciencia, haciendo que la persona pueda tomar contacto con sus
            emociones, descubrir aspectos propios que desconocía, movilizándolos para que sean resueltos y
            desbloqueados. Es natural, no tiene efectos secundarios ni contraindicaciones. Acompañan cualquier terapia
            médica o psicológica, sin reemplazar ni sustituir a ningún tratamiento.
        </p>
    </div>

    <div class="container-fluid scroll_section" id="Registros">
        <p class="textleft nombre">Registros Akáshicos</p>
        <p class="textleft">Los registros akáshicos son el archivo universal cósmico. guarda toda la información de la
            existencia de cada alma que se desprende de la fuente
            divina akáshica. Trabajamos con la oración sagrada de apertura de registros akáshicos. Conectamos con
            nuestro guardián akáshico, guías, maestros, seres queridos y con nuestro Yo superior, quienes nos prestan
            asistencia. Se nos brinda la información necesaria para sanar, comprender mejor las situaciones que vamos
            atravesando, recordar nuestro origen divino y el potencial de nuestra alma.</p>
    </div>
