
        <h1>Nosotros</h1>
        <p class="textright nombre">Ramiro Carboni</p>
        <p class="textright">Soy Ramiro Carboni

            Hombre, papá y compañero. Me apasiona acompañar los procesos de
            las personas. Suelo navegar en el mundo de la escritura, la música, la

            filosofía y el deporte.

            Psicologo UBA, concibo a las distintas psicologías y terapias alternativas
            como recursos. En mi caja de herramientas hay psicoanálisis,
            cognitivo-conductual, neuropsicología, sistémica, terapia floral Bach,

            biodescodificación, psicodrama.

            Coordiné talleres de arte socio-comunitarios en museos. He trabajado
            en escuelas, hospital, consultorios privados y centros terapéuticos.

            Co- creador de espacio Quinti Yaku.</p>

        <p class="textleft nombre">Jesica Pas</p>
        <p class="textleft">Soy Jesica Pas

            Mujer alquimista y creadora en constante proceso de transformación.
            Multifacética por naturaleza, es un desafío definirme porque me siento

            muchas en una sola.

            Madre por deseo y elección. Actriz y Artista desde la inocencia del
            juego hasta el compromiso social como mujer feminista.

            Profesora de Arte Teatro y Yoga, cuerpo y movimiento son mis ejes.
            Terapeuta Holística con formación en Terapia Floral, Registros

            Akáshicos Y Biodescodificación.

            Guardiana de la Tierra y educadora de masaje Shantala.
            Aprendiz de la vida. Arte y Naturaleza son mi medicina.

            Co-creadora de espacio Quinti Yaku.</p>