<div class="container-fluid scroll_section" id="YogaIntegral">
        <h1>Talleres</h1>
        <p class="textright nombre">Yoga Integral</p>
        <p class="textright">
            Es un estilo de yoga que ofrece una síntesis de varios estilos de yoga, donde se realizan asanas, ejercicios
            de respiración (pranayama y suarayoga), relajación y meditación.
        <p class="textright">Beneficios</p>
        <p class="textright">Desarrolla fuerza</p>
        <p class="textright">Trabaja el equilibrio</p>
        <p class="textright">Favorece la flexibilidad corporal y mental</p>
        <p class="textright">Ayuda a calmar y relajar la mente</p>
        <p class="textright">Libera las cargas emocionales</p>
        </p>
    </div>

    <div class="container-fluid scroll_section" id="YogaTerapia">
        <p class="textleft nombre">Yoga Terapia</p>
        <p class="textleft">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque animi dolorum fugit non
            veniam nisi repellat vero minima dolor earum, exercitationem illum eos, debitis necessitatibus
            accusamus? Illo et laudantium iste!</p>

    </div>
    <div class="container-fluid scroll_section" id="Acroyoga">
        <p class="textright nombre">Acroyoga y Tela</p>
        <p class="textright">Las clases comienzan con una entrada en calor corporal, dando movimiento a cada una de las
            articulaciones del cuerpo. Esta parte es súper importante para no lesionarnos.
            En este momento, trabajamos mucho a través de juegos y con la ayuda del yoga como herramienta corporal.
            Luego nos subimos a la tela de acrobacia y probamos todas las piruetas que se nos ocurren. En este
            momento es súper importante estas concentrados en la actividad. Es la parte de la clase donde ejercitamos
            mucho el cuerpo.
            Finalmente, cerramos con algunos estiramientos corporales que nos permitan aflojar los músculos y nos
            dejamos llevar por unos minutos de relajación</p>

    </div>

    <div class="container-fluid scroll_section" id="Teatro">
        <p class="textleft nombre">Teatro</p>
        <p class="textleft">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque animi dolorum fugit non
            veniam nisi repellat vero minima dolor earum, exercitationem illum eos, debitis necessitatibus
            accusamus? Illo et laudantium iste!</p>
    </div>
    <div class="container-fluid scroll_section" id="Psicodrama">
        <p class="textright nombre">Psicodrama</p>
        <p class="textright">El psicodrama es una terapia que despliega elementos de la psicología y el teatro. En los
            encuentros se representan escenas de la vida de los participantes para, a través de la experiencia
            vivencial, tomar
            conciencia y posibilitar la construcción de nuevos sentidos. Es por ello que es una herramienta de apertura
            terapéutica.
        </p>
    </div>

    <div class="container-fluid scroll_section" id="Aquelarre">
        <p class="textleft nombre">Aquelarre y Círculo M</p>
        <p class="textleft">Espacio de transformación personal.
            A lo largo de los encuentros nos permitiremos adentrarnos en un viaje hacia el interior de cada una de
            nosotras, para descubrir nuevas posibilidades de habitarnos.
            Trabajaremos con el libro "Mujeres que corren con los lobos" de Clarissa Pinkola Estés. El cual nos servirá
            de mapa donde poder construi una nueva cartografía de nuestros cuerpos.
            Abordaremos el encuentro corporal y físico con nosotras mismas, llevando consciencia sobre lo leído y
            haciéndolo presente en el aquí y ahora, por medio del movimiento, la respiración y la meditación. Por
            último, un espacio de intercambio grupal a través
            de la palabra y la escucha activa, donde poder reflexionar y reconocernos en círculo.</p>
    </div>